
@foreach (var childnode in ChildNodes)
{
    <li>
        <div>
            @if (!CheckParentNode)
            {
                childnode.IsSelected = false;
                <input type="checkbox" @bind="@childnode.IsSelected" disabled>
            }
            else
            {
                <input type="checkbox" @bind="@childnode.IsSelected" @onclick="()=>{ childnode.IsSelected= !childnode.IsSelected;}">
            }
            <span>@childnode.NodeText</span>
        </div>

        @if (childnode.ChildNodes.Count > 0)
        {
            <ul>
                <TreeViewNode ChildNodes="childnode.ChildNodes" CheckParentNode="childnode.IsSelected"  />
            </ul>    
        }              
    </li>
}


@code {

    [Parameter]
    public List<TreeNode> ChildNodes { get; set; } = new List<TreeNode>();

    [Parameter]
    public bool CheckParentNode { get; set; }

}
